h1 {
  font-family: "Tiempos Headline", serif;
  font-size: 34px;
}

h2 {
  font-family: "Tiempos Headline", serif;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-family: Avenir, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
}

p {
  font-family: Avenir, sans-serif;
  font-size: 14px;
}

nav {
  border: solid lightgray;
  border-width: 0 0 1px;
  width: 100%;
  display: flex;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.margin {
  margin: 70px;
}

.navigation,
.contact-us {
  font-family: Avenir, sans-serif;
  border: none;
  padding: 10px 15px;
}

.navigation {
  background-color: white;
  color: rgb(160 160 160);
}

.contact-us,
.get-started {
  color: white;
  background-color: rgb(38 77 115);
  border-radius: 4px;
}

.nav-image {
  margin: 10px 70px;
  width: 150px;
}

.image-link {
  padding: 10px 0;
}

.nav-banner {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}

.central-blurb {
  position: relative;
}

.central-image {
  width: 100%;
  height: 100%;
}

.body-area {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  margin-right: 45%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 0 0 / 25%);
}

.body-heading {
  font-weight: normal;
}

.body-text,
.loc-blurb {
  line-height: 1.5rem;
}

.get-started {
  font-family: Avenir, sans-serif;
  border: none;
  font-size: 16px;
  padding: 10px 30px;
  margin-top: 10px;
}

.loc-section {
  background-color: rgb(245 245 245);
  color: slategray;
  display: flex;
  justify-content: center;
}

.loc-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.loc-blurb {
  text-align: center;
}

.contact-us:hover,
.get-started:hover {
  background-color: white;
  color: rgb(38 77 115);
  border: 1px solid rgb(38 77 115);
}
